[Unit]
Description=OpenConnect SSL VPN server
After=network-online.target
After=dbus.service

[Service]
PrivateTmp=true
ExecStart=/etc/init.d/ocserv start
ExecStop=/etc/init.d/ocserv stop
ExecReload=/etc/init.d/ocserv restart

[Install]
WantedBy=multi-user.target


#Put this file to $PATH/lib/systemd/system
#systemctl daemon-reload
#systemctl enable ocserv.service
#systemctl start ocserv.service
